# Web Frameworks
fastapi==0.104.1
uvicorn==0.23.2
flask>=2.0.0
pydantic==2.4.2

python-multipart==0.0.6

# Google AI

# Utilities
requests==2.31.0
tqdm==4.67.1
ninja
packaging

# Testing
pytest==8.3.4

# open ai lib
openai